.group{
    width: 100%;
    max-width: 1000px;
    padding: 10px 20px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    .list{
        display: flex;
        flex-direction: column;
        width: min(24%, 20rem);
        margin: 0px 4px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            margin-top: 30px;
        }
        .list-text-wrap{
            padding: 0.5vw 0 1vw; /* vw 뷰포트의 넓이 vh 뷰포트의 높이 */
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            .list-txt-title{
                width: 100%;
                font-size: min(16px, 1vw);
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                color: #555;
            }
            .list-txt-way{
                font-size: 1.4rem;
                z-index: 99;
                margin-top: -6rem;
                background: #555;
                color: #fff;
                padding: 4px;
                border-radius: 3px;
                align-self: flex-end;
                white-space: nowrap;
            }
        }
    }
}